import React from 'react';

export default ({body, title}) => {
  return

   <html>
     <head>
       <title>${title}</title>

     </head>

     <body>
       <div id="main">${body}</div>
     </body>

     <script src="/public/assets/bundle.js"></script>
   </html>;
};
